.screen {
    width: 60%;
    height: 150px;
    border-radius: 25px;
    margin: auto;
    background-color: hsl(224, 36%, 15%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.screen h1 {
    font-size: 3.6rem;
    margin-right: 40px;
}